body {
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header, nav, main, footer {
  padding: 20px;
}

header {
  background-color: #333333;
  text-align: center;
}

h1, h2 {
  color: #ce2727;
}

nav {
  background-color: #222222;
}

nav button {
  background-color: unset;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: #ce2727;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.image img {
  max-width: 100%;
  height: auto;
}

main {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

p {
  margin-bottom: 20px;
}

footer {
  background-color: #333333;
  text-align: center;
  font-size: 12px;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.art-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.art-gallery img {
  max-width: 100%;
  height: auto;
}

ul {
  margin-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header, nav, main, footer {
  padding: 20px;
}

header {
  background-color: #333333;
  text-align: center;
}

h1, h2, h3 {
  color: #ce2727;
}

nav {
  background-color: #222222;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: #ce2727;
}

section {
  padding: 20px;
}

.art-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artwork {
  flex: 0 0 300px;
  margin: 20px;
  text-align: center;
}

.artwork img {
  max-width: 100%;
  height: auto;
}

.artwork-description {
  margin-top: 10px;
}

footer {
  background-color: #333333;
  text-align: center;
  font-size: 12px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.summary {
  display: flex;
  align-items: center;
}

.summary img {
  width: 190px; 
  margin-right: 20px; 
}

.summary-text {
  flex: 1;
}

